/* QUILL RICH TEXT EDITOR */

.my-custom-quill .ql-editor {
  overflow-y: hidden;
  padding: 4px;
}

.my-custom-quill .ql-container {
  font-size: 15px;
}

.comment .ql-container {
  height: 183px;
}

.reply .ql-container {
  height: 155px;
}

.snow .ql-container {
  width: 708px;
  height: 183px;
  border-color: #e5e7eb !important;
}

.snow .ql-container:hover {
  border-color: #3b82f680 !important;
}

.snow .ql-editor {
  border-top: unset;
}

.snow .ql-toolbar {
  background-color: #f6f7f8;
  border-color: #e5e7eb !important;
  border-bottom: unset !important;
}

.snow .ql-toolbar:hover {
  border-color: #3b82f680 !important;
}

/* NAVBAR */

.dropdown-shape::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  transform: translateY(-50%) rotate(45deg);
}

.dropdown-shape-footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 35px;
  right: 14px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  transform: translateY(-50%) rotate(45deg);
}
